label {
	font-size: 12px;
}
.details {
	margin-bottom: 15px;
	background-color: #3a434d;
	padding: 10px 0 10px 20px;
	a {
		text-decoration: revert;
		color: #673ab7;
		&visited{
			color: #673ab7;
		}
		&hover{
			color: #673ab7;
		}
	}
}
.specDetail {
	margin-bottom: 10px;
}
.cursor {
	cursor: pointer;
}
.description {
	padding-right: 20px;
}
.collapse-enter-active {
	transition: all 0.2s;
	max-height: 230px;
}
.collapse-leave-active {
	transition: all 0.2s;
	max-height: 230px;
}
.collapse-enter {
	opacity: 0;
	max-height: 0px;
}
.collapse-leave-to {
	opacity: 0;
	max-height: 0px;
}
